.trivia-page{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    height:850px;
    background: #a1e6f7;
}

.choices{
    display:flex;
    flex-wrap: wrap;
    width:900px;
    margin-left:250px;
}

nav,ul{
    position: absolute;
    z-index: 9;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content: space-around;
    background:rgba(238, 238, 238, 0.6);
    width:800px;
    height:50px;
    padding:10px;
}

ul{
    list-style: none;
    font-weight: bold;
    font-size:35px;
    margin: 0;
}

li:hover{
    cursor: pointer;
    font-size:40px;
    color: #a1e6f7;
    text-shadow:2px 2px black;
}



