.game-over{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #a1e6f7;  
    background-size: contain;
    background-repeat: no-repeat;
    animation:5s gradual ease-in-out infinite; 
}

@keyframes gradual{
    50%{
        background: #ffff99 
    }
}

.end-game-pic{
    position: absolute;
    background: url("../../Assets/Images/gameover.png");
    background-repeat: no-repeat;
    background-position: center; 
    height:90%;
    width:100%;
}

.dancing2{
    position: absolute;
    height:200px;
    width:200px;
    margin-top:350px;
    margin-left:80%;
    background:url("../../Assets/Gifs/DancingBannana.gif");
    background-size: cover;
    transition: margin ease-in-out;
    animation: up-left 12s ease-in-out 2s infinite;
}

@keyframes up-left{
    25%{
        margin-top:0px;
    }
    50%{
        margin-top:0px;
        margin-left:0px;
    }
    75%{
        margin-top: 350px;
        margin-left: 0px;
    }
    100%{
        margin-top:350px;
        margin-left:80%;
    }
}

.family-guy{
    position: absolute;
    height:300px;
    width:300px;
    background:url("../../Assets/Gifs/familyGuyBanana.gif");
    background-size: cover;
    transition: margin ease-in-out;
    animation: down-right 12s ease-in-out infinite;
}

@keyframes down-right{
    25%{
        margin-top:310px;
    }
    50%{
        margin-top:310px;
        margin-left:75%;
    }
    75%{
        margin-top: 0px;
        margin-left: 75%;
    }
    100%{
        margin-top:0px;
        margin-left:0px;
    }
}

.sandwhich{
    position:absolute;
    background: url("../../Assets/Gifs/sandwich.gif");
    background-size:cover;
    height:120px;
    width:120px;
    margin-top:220px;
    margin-left:570px;
}